# https://github.com/patrickloeber/python-github-action-template/tree/main
name: Check for supabase docker image updates

on:
  schedule:
    - cron: 0 5 * * 2 # https://crontab.guru/#0_5_*_*_2

jobs:
  check-updates:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r update/requirements.txt

      - name: execute py script
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python update/check_for_updates.py
